.react-pdf__Page {
  max-width: min-content;
}
.react-pdf__Page__textContent,
.textLayer {
  display: none;
}

.MuiPaper-elevation1,
.MuiPaper-rounded {
  max-width: min-content;
}

/* Estilo CSS para dispositivos con un ancho de pantalla de 1370px o menos */
@media (max-width: 1370px) {
  .MuiGrid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .MuiPaper-elevation1,
  .MuiPaper-rounded {
    margin-top: 20px;
  }
}

.makeStyles-selectedThumbnail-5 {
  border: 2px solid #d0d0d0;
}
